.title {
    width: 100%;
    padding: 0 10px;

    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;

    text-align: center;

    color: $black;

    &__subtitle {
        width: 100%;
        padding: 0 10px;

        font-size: 20px;

        color: rgba($black, .6);

        text-align: center;
    }
}