.container
    .assortment
        img(src="files/1.png", alt="").one
        img(src="files/2.png", alt="").two
        img(src="files/3.png", alt="").three
        img(src="files/4.png", alt="").four
        img(src="files/5.png", alt="").five
        img(src="files/6.png", alt="").six
        img(src="files/7.png", alt="").seven
        img(src="files/8.png", alt="").eight
        img(src="files/9.png", alt="").nine
        img(src="files/10.png", alt="").ten
        img(src="files/11.png", alt="").eleven
        img(src="files/12.png", alt="").twelve
        p.five-text Lorem ipsum dolor sit amet consectetur.
        p.six-text Lorem ipsum dolor sit amet consectetur.
        p.seven-text Lorem ipsum dolor sit amet consectetur.
        p.eight-text Lorem ipsum dolor sit amet consectetur.
        p.nine-text Lorem ipsum dolor sit amet consectetur.
        p.ten-text Lorem ipsum dolor sit amet consectetur.
        p.eleven-text Lorem ipsum dolor sit amet consectetur.
        p.twelve-text Lorem ipsum dolor sit amet consectetur.
    button(href="").btn Read more 