.brands
    .container
        .brands__body
            img(src="files/icons/b-1.png", alt="").brands__img
            .cross
                .line
                .line.line--second
            img(src="files/icons/b-2.png", alt="").brands__img
            .cross
                .line
                .line.line--second
            img(src="files/icons/b-3.png", alt="").brands__img
            .cross
                .line
                .line.line--second
            img(src="files/icons/b-4.png", alt="").brands__img
            .cross
                .line
                .line.line--second
            img(src="files/icons/b-5.png", alt="").brands__img
            .cross
                .line
                .line.line--second
            img(src="files/icons/b-6.png", alt="").brands__img
