.container 
    .collections
        .collections__item.collections_item--first
            img(src="files/coll-1.png", alt="").collections__background
            .collections__body
                img(src="files/coll-1.png", alt="").collections__frontface
            h2.collections__title.collections__title--first Nixon perimeter collection.
            .collections__links
                a(href="").collections__link Shop Collection
                a(href="").collections__link All watches
        .collections__item.collections_item--second
            img(src="files/coll-2.png", alt="").collections__background
            .collections__body    
                img(src="files/coll-2.png", alt="").collections__frontface
            h2.collections__title.collections__title--second Sweetest pack of air maxes
            .collections__links
                a(href="").collections__link View the pack

