.footer
    .container 
        .footer__body 
            .footer__nav
                .footer__link Online store
                .footer__link How to order
                .footer__link Blog
                .footer__link My account
                .footer__link Contact
            img(src="files/logo.png", alt="").footer__logo
            .footer__nav
                .footer__link Shipping policy
                .footer__link Terms
                .footer__link FAQ's
                .footer__link Privacy
                .footer__link Site security
        .footer__body 
            .footer__line
            .footer__social 
                .footer__round
                    img(src="files/icons/facebook.png", alt="").footer__img
                .footer__round
                    img(src="files/icons/twitter.png", alt="").footer__img
                .footer__round
                    img(src="files/icons/pinterest.png", alt="").footer__img
                .footer__round
                    img(src="files/icons/instagram.png", alt="").footer__img
            .footer__line
        p.footer__copyright © Shelflife store. All rights reserved