header.header
    .header__bars
        .container
            .logo
                img(src="files/logo.png", alt="").logo__img
        .header__top-bar
            .header__content.container
                p.header__text International online sneaker and street wear shop
                .header__info
                    a(href="#").header__link--min Shipping policy
                    a(href="#").header__link--min Find store
                    a(href="#").header__link--min Wishlist (0)
                    a(href="#").header__link--min.header__profile-link Matt Tompson
                        .header__profile-btn
        .header__main-bar
            .header__content.container
                .header__nav
                    a(href="#").header__link New
                    a(href="#").header__link Men
                    a(href="#").header__link Women
                    a(href="#").header__link Sale
                    a(href="#").header__link Blog
                    a(href="#").header__link Contact
                .header__actions
                    a(href="#").header__link
                        img(src="files/icons/search19.png", alt="").header__icon
                    a(href="#").header__link
                        img(src="files/icons/Vector Smart Object.png", alt="").header__icon
    .header__main-content
        img(src="files/puma_logo.png", alt="").header__logo
        .header__name
            h1.header__title Puma triple black pack
            h3.header__subtitle PUMA‘s Disc Blaze and Blaze of Glory sneakers get a reworking.
        a(href="#").btn Find out more
        .slider__pagination
            .slider__page
            .slider__page.active-page
            .slider__page
            .slider__page
            .slider__page
                