doctype html
html(lang="en")
    head
        include pug/head
    body
        include pug/header
        include pug/collections
        h2.title From the Blog
        h3.title__subtitle Lorem ipsum dolor sit amet consectetur adipisicing.
        include pug/assortment
        include pug/brands
        include pug/footer

        script(src='js/script.min.js')